@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">
    <div class="col-6 ">
        <form class="d-flex mt-md-3" role="search">
            <i class="bi bi-search mt-2 ms-2"></i>
            <input class="form-control border-white" type="search" placeholder="Search Mission " aria-label="Search" id="searchb" onkeyup="story(); temp(1); ">
        </form>
    </div>
    <div class="col-6 ">
        <button class="btn btn-primary d-md-none w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Filter Missions
        </button>

        <div class="collapse d-md-flex " id="collapseExample">
            <div class="form-select  border-white xyz" aria-label="Default select example" placeholder="Country" id="countryId" onchange="temp(1); GetCity();">
                @*<option selected>Country</option>
                @foreach (var item in @ViewBag.Countries)
                {

                    <option value="@item.CountryId"> @item.Name</option>
                }*@

                <a class="nav-link  text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Country
                </a>
                <ul class="dropdown-menu">

                    @foreach (var item in @ViewBag.Countries)
                    {

                        <li><input type="checkbox" value="@item.CountryId" /> @item.Name </li>
                    }
                </ul>
            </div>
            <div class="form-select border-white xyz " aria-label="Default select example"  onchange="temp(1)">

                     <a class="nav-link  text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    City
                    </a>
                  <ul class="dropdown-menu" id="selectCityList">
                    @foreach (var item in @ViewBag.Cities)
                    {
                    <li><input type="checkbox" value="@item.CityId" />
                    @item.Name
                    </li>
                    }
               @* <select>
                <option selected>City</option>
                @foreach (var item in @ViewBag.Cities)
                {

                    <option value="@item.CityId"> @item.Name</option>
                }
                
               </select>*@
                </ul>
            </div>
            <div class="form-select border-white xyz" aria-label="Default select example" id="theme" onchange="temp(1)">
                <a class="nav-link  text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Themes
                </a>
                <ul class="dropdown-menu">

                    @foreach (var item in @ViewBag.Themes)
                    {

                        <li><input type="checkbox" value="@item.MissionThemeId" /> @item.Title </li>
                    }
                </ul>
            </div>
            <div class="form-select  border-white xyz" aria-label="Default select example" id="skill" onchange="temp(1)">

                <a class="nav-link  text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Skills
                </a>
                <ul class="dropdown-menu">

                    @foreach (var item in @ViewBag.Skills)
                    {

                        <li><input type="checkbox" value="@item.SkillId" /> @item.Skill.SkillName </li>
                    }
                </ul>
                @*
                    <option selected>Skills</option>
                    @foreach (var item in @ViewBag.Skills)
                    {

                    <option value="1"> @item.SkillName</option>
                    }*@

            </div>
        </div>


    </div>
</div>

<hr class="m-0" />