@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CI_Platform.Entities.ViewModels
@model AdminViewModel

<div id="cmspage4">

    @*  <h4>Application</h4>
                            <hr class="m-0">
                            <div class="row mt-3 g-0">
                                <div class="col-12 col-xl-3 col-lg-6 col-sm-8">
                                    <div class="form-group has-search">
                                        <span class="form-control-feedback"><i class="bi bi-search"></i></span>
                                        <input type="text" class="form-control " placeholder="Search">
                                    </div>
                                </div>
                                <div class="col-12 col-xl-9 col-lg-6 col-sm-4">

                                </div>
                            </div>*@
                            <table class="table mt-3">
                                <tbody>
                                    <tr style="background-color: #F8F9FC;">
                                        <th scope="col">Mission title</th>
                                        <th scope="col">MissionId</th>
                                        <th scope="col">User Id</th>
                                        <th scope="col">User Name</th>
                                        <th scope="col">Applied Date</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                    @foreach (var item in Model.missionApplications)
                                    {
                                        
                                    
                                    <tr>
                                        <td>@item.Mission.Title</td>
                                        <td>@item.MissionId</td>
                                        <td>@item.UserId</td>
                                        <td>@item.User.FirstName  @item.User.LastName </td>
                                        <td>@item.AppliedAt.ToShortDateString()</td>
                                        <td>
                                            <button type="button" class="btn p-0 me-3">
                                                <i class="bi bi-check-circle" style="color: green;"></i>

                                            </button>
                                            <button type="button" class="btn p-0 me-3">
                                                <i class="bi bi-x-circle" style="color: red;"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

    </div>
