@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CI_Platform.Entities.ViewModels
@model AdminViewModel

<style>
       .Avatarfile {
        width: 125px;
        height: 125px;
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
</style>

<div id="cmspage">
    @*<h4>User</h4>
        <hr class="m-0">
        <div class="row mt-3 g-0">
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div class="form-group has-search">
        <span class="form-control-feedback"><i class="bi bi-search"></i></span>
        <input type="text" class="form-control " placeholder="Search">
        </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-8 col-xl-9 text-sm-end mt-3 mt-sm-0">
        <button type="button" class="btn btn-outline-warning rounded-pill" onclick="addform('nav-user');">
        <i class="bi bi-plus"></i>
        Add
        </button>
        </div>
        </div>*@
    <table class="table mt-3" id="table">
        <tbody>
            <tr style="background-color: #F8F9FC;">
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Employee Id</th>
                <th scope="col">Department</th>
                <th scope="col">Status</th>
                <th scope="col" style="text-align: center;">Actions</th>
            </tr>

            @foreach (var item in Model.users)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>@item.EmployeeId</td>
                    <td>@item.Department</td>

                    @if (item.Status == true)
                    {
                        <td style="background-color: #EBFFEF; width: 33px; color: #3CDD5F; ">
                            Active
                        </td>
                    }
                    else
                    {
                        <td style="background-color: #FFF5F5; width: 33px; color: #FF4545; ">
                            InActive
                        </td>
                    }

                    <td style=" text-align:center;">
                        <button type="button" class="btn p-0" onclick="editform('nav-user',1); getData('nav-user',1,@item.UserId);">
                            <i class="bi bi-pencil-square" style="color: coral;"></i>
                        </button>

                        <button type="button" class="btn p-0" onclick=" if (confirm('Are you sure you want to delete?')) { return location.href=' @Url.Action("DeleteActivity", "Admin" ,new {id = @item.UserId,page = 1})' } ">
                            <i class=" bi bi-trash ms-3"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only"></span>
                </a>
            </li>
            @for(int i = 1; i <= Model.userPages; i++){
            
                <li class="page-item" onclick="AdminSearch(1,@i)"><a class="page-link" href="#">@i</a></li>
           }
    @*        <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>*@
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only"></span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="border" id="add" style="display: none;">
    <h3 class="p-3 m-0" style="background-color: #F8F9FC;"> Add User</h3>
    <hr class="m-0">
    <form  class="px-3" method="post" enctype="multipart/form-data">
       <div class="row">
            <div class="col-lg-12 ">
                <div class=" p-3 d-flex justify-content-center align-items-center flex-column">
                    <input id="profileImageInput" asp-for="Avatarfile" type="file" class="Avatarfile" accept="image/jpeg, image/png, image/jpg" />
                    <img src="~/img/user1.png" style="border-radius: 50%; height:125px; width:125px" class="ProfileImage">
                  @*  <span style="color: #414141;" class="">Evan Donohue</span>*@
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <label>Name</label>
                <input type="text" id="UserNameA" onkeyup="Uservalidation('A');" asp-for="adminUser.FirstName" class="form-control" placeholder="Enter your name">
                <div id="UNameErrorA" class="text-danger"></div>
            </div>
            <div class="col-12 col-sm-6">
                <label>Surname</label>
                <input type="text" id="USNameA" onkeyup="Uservalidation('A');" asp-for="adminUser.LastName" class="form-control" placeholder="Enter your surname">
               <div id="USNameErrorA" class="text-danger"></div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <label>Email</label>
                <input type="text" id="UserEmailA" onkeyup="Uservalidation('A');" asp-for="adminUser.Email" class="form-control" placeholder="Enter Email">
              <div id="UEmailErrorA" class="text-danger"></div>
            </div>
            <div class="col-12 col-sm-6">
                <label>Password</label>
                <input type="password" id="UserPassA" onkeyup="Uservalidation('A');" asp-for="adminUser.Password" class="form-control" placeholder="Enter Password">
               <div id="UPassErrorA" class="text-danger"></div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <label>Employee ID</label>
                <input type="text" asp-for="adminUser.EmployeeId" class="form-control" placeholder="Enter your employee id">
            </div>
            <div class="col-12 col-sm-6">
                <label>Department</label>
                <input type="text" asp-for="adminUser.Department" class="form-control" placeholder="Enter your manager details">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <label>Country*</label>
                <select id="countryIdUA" asp-for="adminUser.CountryId" onchange="GetProfileCity('UA'); Uservalidation('A');" class="form-select" aria-label="Default select example"
                                    aria-placeholder="Select your country">
                                <option value="0">Select your country</option>
                                @foreach (var obj in @Model.countries)
                                {
                                    <option value="@obj.CountryId">@obj.Name</option>
                                }
                            </select>
                               <div id="UCountryErrorA" class="text-danger"></div>
            </div>
            <div class="col-12 col-sm-6">
                <label>City*</label>
                <select class="form-select" asp-for="adminUser.CityId" aria-label="Default select example" aria-placeholder="Select your City" id="selectCityListUA" onchange="Uservalidation('A');" >
                                <option value="0">Select your City</option>
                                @foreach (var item in @Model.Citys)
                                {

                                    <option value="@item.CityId"> @item.Name</option>
                                }
                            </select>
                               <div id="UCityErrorA" class="text-danger"></div>
            </div>
        </div>
        <div class="form-group mt-3">
            <label for="exampleFormControlTextarea1">My Profile*</label>
            <textarea class="form-control" asp-for="adminUser.ProfileText" id="exampleFormControlTextarea1" rows="4" placeholder="Enter your ProfileText..."></textarea>
        </div>
        <div class="row mt-3">
            <div class="col-12 ">
                <label>Status</label>
                <select class="form-select" asp-for="adminUser.Status" aria-label="Default select example" aria-placeholder="Select your Status">
                    <option value="false">In-Active</option>
                    <option value="true">Active</option>
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10  ">
            </div>
            <div class="col-1">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark" onclick="addpage('nav-user');">
                    Cancel
                </button>
            </div>
            <div class="col-1">
                <button type="submit" id="UserSubmitbtnA" name="command" value="1"  class=" btn btn-outline-warning rounded-pill" disabled>
                    Save
                </button>
            </div>
        </div>
    </form>
</div>
<div class="border" id="edit" style="display: none;">
    <h3 class="p-3 m-0" style="background-color: #F8F9FC;"> Edit User </h3>
    <hr class="m-0">
      <form class="px-3" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-12 ">
                <div class=" p-3 d-flex justify-content-center align-items-center flex-column">
                    <input id="editInput" asp-for="Avatarfile" type="file" class="Avatarfile" accept="image/jpeg, image/png, image/jpg" />
                    <img src="~/img/@Model.adminUser.Avatar" style="border-radius: 50%; height:125px; width:125px" class="editProfile">
                    <span style="color: #414141;" class="">Evan Donohue</span>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <input type="hidden" asp-for="adminUser.UserId" />
            <div class="col-12 col-sm-6">
                <label>Name</label>
                <input type="text" id="UserNameE" onkeyup="Uservalidation('E');" asp-for="adminUser.FirstName" class="form-control" placeholder="Enter your name">
               <div id="UNameErrorE" class="text-danger"></div>
            </div>
            <div class="col-12 col-sm-6">
                <label>Surname</label>
                <input type="text" id="USNameE" onkeyup="Uservalidation('E');" asp-for="adminUser.LastName" class="form-control" placeholder="Enter your surname">
               <div id="USNameErrorE" class="text-danger"></div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <label>Email</label>
                <input type="text" id="UserEmailE" onkeyup="Uservalidation('E');" asp-for="adminUser.Email" class="form-control" placeholder="Enter Email">
              <div id="UEmailErrorE" class="text-danger"></div>
            </div>
            <div class="col-12 col-sm-6">
                <label>Password</label>
                <input type="password" id="UserPassE" onkeyup="Uservalidation('E');" asp-for="adminUser.Password" class="form-control" placeholder="Enter Password">
              <div id="UPassErrorE" class="text-danger"></div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <label>Employee ID</label>
                <input type="text" asp-for="adminUser.EmployeeId" class="form-control" placeholder="Enter your employee id">
            </div>
            <div class="col-12 col-sm-6">
                <label>Department</label>
                <input type="text" asp-for="adminUser.Department" class="form-control" placeholder="Enter your manager details">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <label>Country*</label>
                <select id="countryIdUE"  asp-for="adminUser.CountryId" onchange="GetProfileCity('UE'); Uservalidation('E');" class="form-select" aria-label="Default select example"
                                    aria-placeholder="Select your country">
                                <option value="0">Select your country</option>
                                @foreach (var obj in @Model.countries)
                                {
                                    <option value="@obj.CountryId">@obj.Name</option>
                                }
                            </select>
                               <div id="UCountryErrorE" class="text-danger"></div>
            </div>
            <div class="col-12 col-sm-6">
                <label>City*</label>
                <select class="form-select" onchange="Uservalidation('E');" asp-for="adminUser.CityId" aria-label="Default select example" aria-placeholder="Select your City" id="selectCityListUE" >
                                <option value="0">Select your City</option>
                                @foreach (var item in @Model.Citys)
                                {

                                    <option value="@item.CityId"> @item.Name</option>
                                }
                            </select>
                               <div id="UCityErrorE" class="text-danger"></div>
            </div>
        </div>
        <div class="form-group mt-3">
            <label for="exampleFormControlTextarea1">My Profile*</label>
            <textarea class="form-control" asp-for="adminUser.ProfileText" id="exampleFormControlTextarea1" rows="4" placeholder="Enter your comments..."></textarea>
        </div>
        <div class="row mt-3">
            <div class="col-12 ">
                <label>Status</label>
                <select class="form-select" asp-for="adminUser.Status" aria-label="Default select example" aria-placeholder="Select your Status">
                    <option value="false">In-Active</option>
                    <option value="true">Active</option>
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10  ">
            </div>
            <div class="col-1">
                <button type="button" class="cancell rounded-pill btn btn-outline-dark" onclick="editpage('nav-user');">
                    Cancel
                </button>
            </div>
            <div class="col-1">
                <button type="submit" id="UserSubmitbtnE" name="command" value="1" class=" btn btn-outline-warning rounded-pill " disabled>
                    Save
                </button>
            </div>
        </div>
    </form>
</div>


<script>
function Uservalidation(x){
var Name = $("#UserName"+x).val();
var SName = $("#USName"+x).val();
var Email = $("#UserEmail"+x).val();

var Pass = $("#UserPass"+x).val();
 var re = /^(?=.*[A-Z])(?=.*\d).{8,}$/;
var City = $("#selectCityListU"+x).val();
var Country = $("#countryIdU"+x).val();

$("#UCityError"+x).text("");
$("#UCountryError"+x).text("");
$("#UNameError"+x).text("");
$("#USNameError"+x).text("");
$("#UEmailError"+x).text("");
$("#UPassError"+x).text("");
document.querySelector('#UserSubmitbtn'+x).disabled = true;

if(Name.length == 0){
$("#UNameError"+x).text("Plaease enter the name first");
}
else if(SName.length == 0){
$("#USNameError"+x).text("Plaease enter the Last name first");
}
else if(Email.length == 0){
$("#UEmailError"+x).text("Plaease enter the Last name first");
}
else if(Pass.length == 0){
$("#UPassError"+x).text("Plaease enter the Last name first");
}
else if(!re.test(Pass)){
 $("#UPassError"+x).text("Passward must contain one Capital Letter and One Digit!");
 }
else if(Country == 0){
$("#UCountryError"+x).text("Plaease select the Country ");
}
else if(City == 0){
$("#UCityError"+x).text("Plaease select the city");
}
else{
$("#UCityError"+x).text("");
$("#UCountryError"+x).text("");
$("#UNameError"+x).text("");
$("#USNameError"+x).text("");
$("#UEmailError"+x).text("");
$("#UPassError"+x).text("");
document.querySelector('#UserSubmitbtn'+x).disabled = false;
}
}
</script>
<script>
    console.log("Add form profile");
    var readURL = function(input) {
    if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {

    $('.ProfileImage').attr('src', e.target.result);
    console.log(e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
    }
    }
    $("#profileImageInput").on('change', function(){
console.log("Add form profile");
console.log(this);
    readURL(this);

    });

</script>
<script>
    console.log("Edit form profile");
    var readURL1 = function(input) {
    if (input.files && input.files[0]) {
    var reader1 = new FileReader();
    reader1.onload = function (e) {
    $('.editProfile').attr('src', e.target.result);
    console.log(e.target.result);
    }

    reader1.readAsDataURL(input.files[0]);
    }
    }
    $("#editInput").on('change', function(){
         console.log("EditForm");
         console.log(this);
    readURL1(this);

    });
</script>