@using CI_Platform.Entities.ViewModels

@model StoryModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



  @foreach (var item in Model.stories)
{
    <div class="col">
        <div class="card ">
            <div class="bg">
                <img src="~/img/@item.StoryMedia.FirstOrDefault()?.Path" id="@item.StoryId" class="card-img-top banner1" style="width: 100%;" alt="...">


                <div class="banner-header d-flex justify-content-center ">

                    <div class="apply2">
                        <a asp-controller="Story" asp-action="StoryDetail" asp-route-sid="@item.StoryId">
                            <button type="button" class="btn btn-outline apply "
                                style="margin-bottom: 200px;  ">
                                View Details
                                <i class="bi bi-arrow-right">
                                </i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>



            <div class="position-relative">
                <div class="position-absolute top-100 start-50 translate-middle round p-2 title"
                 style="background-color: white;">
                    @item.Mission.Theme.Title
                </div>
            </div>

            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">
                    @item.Description
                </p>

                <!-- <div class="container"> -->
            <div class="col-12">
                    <div class="row mt-3" style="background-color: white">
                        <div class="col-12 ">
                            <img src="~/img/@item.User.Avatar" style="border-radius: 50%; height: 4.5em;" alt="">
                            <span class="medium"> @item.User.FirstName @item.User.LastName </span>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    @* <div class="card" onclick="showStory(@item.StoryId)">

        <div class="bg wrapper">
        <div class="content">
        <img src="~/img/@item.StoryMedia.FirstOrDefault()?.Path" id="@item.StoryId" class="card-img-top banner1" style="width: 100%;" alt="...">


        <div class="banner-header d-flex justify-content-center ">

        <div class="apply2">
        <button type="button" class="btn btn-outline apply "
        style="margin-bottom: 200px;  ">
        View Details

        </button>

        </div>
        </div>
        </div>
        <span class="border-dark rounded-pill label">
        &nbsp; &nbsp; @item.Mission.Theme.Title  &nbsp; &nbsp;
        </span>
        </div>

        @*    <div class="wrapper">
        <div class="content">
        <img src="~/img/@item.StoryMedia.FirstOrDefault()?.Path" id="@item.StoryId" class="card-img-top" alt="..." style="width: 100%;" >
        <button class="hidden-button">View Details -></button>

        <!-- <i class="bi bi-suit-heart bg-dark fa-download-2 "></i> -->
        <span class="border-dark rounded-pill label" >
        &nbsp; &nbsp; @item.Mission.Theme.Title  &nbsp; &nbsp;</span>
        </div>
        </div>*@
    @*
        <div class="card-body mb-0">
        <h5 class="card-title">@item.Title</h5>
        <p class="card-text" id="text">@item.Description</p>

        <a class="text-dark text-decoration-none" href="#" role="button">
        <img src="~/img/@item.User.Avatar" style="border-radius: 50%; height: 4.5em;" alt=""> <span class="medium"> @item.User.FirstName @item.User.LastName </span>
        </a>
        </div>
        </div>*@

}
