@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@using CI_Platform.Entities.ViewModels

    @model StoryModel*@

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


@*

    @{
    Html.RenderPartial("nav2");
    }
*@


<div class="row  border-top border-bottom">
    <div class="col-6 ">
        <form class="d-flex mt-md-3" role="search">
            <i class="bi bi-search mt-2 ms-2"></i>
            <input class="form-control border-white" type="search" placeholder="Search Mission " aria-label="Search" id="searchb" onkeyup="story();">
        </form>
    </div>
    <div class="col-6 ">
        <button class="btn btn-primary d-md-none w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Filter Story
        </button>

        <div class="collapse d-md-flex " id="collapseExample">
            <select class="form-select  border-white xyz" aria-label="Default select example" placeholder="Country" id="countryId" onchange="temp(); GetCity();">
                <option selected>Country</option>
                @foreach (var item in @ViewBag.Countries)
                {

                    <option value="@item.CountryId"> @item.Name</option>
                }
            </select>
            <select class="form-select border-white xyz " aria-label="Default select example" id="selectCityList" onchange="temp()">


                <option selected>City</option>
                @foreach (var item in @ViewBag.Cities)
                {

                    <option value="@item.CityId"> @item.Name</option>
                }
                @* </ul>*@
            </select>
            <div class="form-select border-white xyz" aria-label="Default select example" id="theme" onchange="temp()">
                <a class="nav-link  text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Themes
                </a>
                <ul class="dropdown-menu">

                    @foreach (var item in @ViewBag.Themes)
                    {

                        <li><input type="checkbox" value="@item.MissionThemeId" /> @item.Title </li>
                    }
                </ul>
            </div>
            <div class="form-select  border-white xyz" aria-label="Default select example" id="skill" onchange="temp()">

                <a class="nav-link  text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Skills
                </a>
                <ul class="dropdown-menu">

                    @foreach (var item in @ViewBag.Skills)
                    {

                        <li><input type="checkbox" value="@item.SkillId" /> @item.Skill.SkillName </li>
                    }
                </ul>

            </div>
        </div>


    </div>
</div>
@*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
<div class="container">


    <div class="banner container-fluid text-center py-5 text-white mb-5 " id="baner">

        <div class="50 mt-2" id="storyText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos animi quibusdam illum consectetur eligendi rerum, esse adipisci fugit neque molestias dolores fugiat consequuntur, delectus deserunt. Odit pariatur quia reiciendis rerum?</div>

        <a asp-controller="Story" asp-action="StoryApply">
            <button type="button" class="btn btn-outline-light rounded-pill mt-3">
                Share your Story &nbsp;
                <i class="bi bi-arrow-right">

                </i>
            </button>
        </a>

    </div>


    <div class="container">
        <div class="container-fluid row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2" id="StoryFilter">




            @{
                Html.RenderPartial("_FilterStory");
            }



        </div>
    </div>
</div>
<div id="paginationPage">
      
                        <nav aria-label="Page navigation example ">
                            <ul class="pagination justify-content-center">

                                @{

                                    for (int i = 1; i <= Model.totalcount ; i++)
                                    {

                                        <li class="page-item ">
                                            <a class="page-link active" onclick="StoryPage(@i)">@i </a>

                                        </li>



                                    }
                                }
                            </ul>
                        </nav>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
