@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CI_Platform.Entities.ViewModels
@model StoryModel


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <!-- Bootstrap CSS -->

    <style>
        /*   .anchor a:link {
                            color: rgb(14, 17, 14);
                            background-color: transparent;
                            text-decoration: none;
                        }

                        .anchor a:visited {
                            color: rgb(22, 18, 18);
                            background-color: transparent;
                            text-decoration: none;
                        }

                        .anchor a:hover {
                            color: rgb(66, 6, 230);
                            background-color: transparent;
                            text-decoration: underline;
                        }

                        .anchor a:active {
                            color: rgb(175, 49, 49);
                            background-color: transparent;
                            text-decoration: underline;
                        }
                        .navbar-links-sm {
                            display: inline-block;
                            margin-left: 15px;
                        }


                        * {
                            box-sizing: border-box;
                            margin: 0;
                            padding: 0;
                        }

                        /* Position the image container (needed to position the left and right arrows) */
        /*  .container-fluid {
                            position: relative;
                        }*/

        /* Hide the images by default */
        /*   .mySlides {
                            display: none;
                            padding-bottom: 5px;
                        }
                */
        /* Add a pointer when hovering over the thumbnail images */
        /*  .cursor {
                            cursor: pointer;
                        }
                */
        /* Next & previous buttons */
        /*      .prev,
                        .next {
                            cursor: pointer;
                            position: absolute;
                            top: 102%;
                            width: auto;*/
        /* padding: 16px; */
        /*        margin-top: -50px;
                            color: white;
                            font-weight: bold;
                            font-size: 20px;
                            border-radius: 0 3px 3px 0;
                            user-select: none;
                            -webkit-user-select: none;
                        }*/

        /* Position the "next button" to the right */
        /*  .next {
                            right: 0;
                            border-radius: 3px 0 0 3px;
                        }*/

        /* On hover, add a black background color with a little bit see-through */
        /*      .prev:hover,
                        .next:hover {
                            background-color: rgba(0, 0, 0, 0.8);
                        }

                        .prev {
                            z-index: 1;
                            padding-left: 5px;
                        }
                */
        /* Number text (1/3 etc) */
        /*  .numbertext {
                            color: #f2f2f2;
                            font-size: 12px;
                            padding: 8px 12px;
                            position: absolute;
                            top: 0;
                        }
                */
        /* Container for image text */
        /* .caption-container {
                            text-align: center;
                            background-color: #222;
                            padding: 2px 16px;
                            color: white;
                        }

                        .row:after {
                            content: "";
                            display: table;
                            clear: both;
                        }
                */


        /* Add a transparency effect for thumnbail images */
        /*    .demo {
                            opacity: 0.6;
                        }

                        .active,
                        .demo:hover {
                            opacity: 1;
                        }*/
    </style>
</head>

<body>

    <div class="container">

        <!-- ..............card..................... -->
        <div class="card mb-3 p-0">
            <div class="row g-0">
                <div class="col-lg-5">
                    <!-- Container for the image gallery -->
                    <div class="container p-0 pb-5" style="width: 100%; height: 100%;">

                        @for (int i = 1; i <= Model.storiesMedium.Count; i++)
                        {
                            <div class="mySlides">

                                <img src="~/img/@(Model.storiesMedium[i-1].Path)" style="max-width:100%; height: 100%;">
                            </div>
                        }


                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>

                        <div class="container-fluid row ps-4 g-2 ">
                            @for (int i = 1; i <= Model.storiesMedium.Count; i++)
                            {
                                @*<div class="col h-50">
                                    <div class="card">
                                    <img class="demo cursor"
                                    src="~/img/@(Model.storiesMedium[i-1].Path)"
                                    style="width:100%; " onclick="currentSlide(@i)" alt="The Woods">
                                    </div>
                                    </div>*@
                                <div class="col">
                                    <img class="demo cursor" src="~/img/@(Model.storiesMedium[i-1].Path)" style="width:100%" onclick="currentSlide(@i)">
                                </div>


                            }

                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card-body">
                        <!-- <h3 class="card-title">CSR initiative stands for Coffee & Farmer Equity</h3>


                                           <p class="card-text mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                               eiusmod
                                               tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                           </p>
                        -->
                        <div class="row mt-3">
                            <div class="col-6">

                                <img src="~/img/@Model.Story.User.Avatar"
                                     style=" width: 100px;    height: 100px; border-radius: 50%;" alt="">

                                <br />

                                <span>@Model.Story.User.FirstName @Model.Story.User.LastName</span>
                            </div>

                            <div class="col-6 text-end">

                                <button type="button" class="btn btn-outline-secondary " style="  border-radius: 18px;">
                                    <i class="bi bi-eye"></i>
                                    25,000 Views


                                </button>
                            </div>
                        </div>

                        <br>
                        <p>
                            @Model.Story.Description
                        </p>
                        <p>
                            @Model.Story.Description

                        </p>
                        @Model.Story.Description

                        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


                        <div class="row">
                            <div class="col-12 col-md-6 col-sm-12 mt-2" id="recommand">

                                <button type="button" class="btn btn-outline-dark w-100 rounded-pill" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person-plus"></i> <span style="font-size: 0.8em;"> Recommend to co-worker</span>
                                </button>
                                <ul class="dropdown-menu" onchange="recommandStory(@Model.Story.StoryId)">

                                    @foreach (var item in Model.CoWorkers)
                                    {

                                        <li><input type="checkbox" value="@item.UserId" /> @item.FirstName @item.LastName </li>
                                    }
                                </ul>
                            </div>

                            <div class="col-12 col-md-6 col-sm-12 mt-2">
                                <a asp-controller="Platform" asp-action="Volunteering_Mission" asp-route-mid="@Model.Story.MissionId"> <button type="button" class="btn btn-outline-danger w-100  rounded-pill "> Open  Mission <i class="bi bi-arrow-right text-danger"></i> </button></a>
                            </div>
                        </div>
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
                    </div>
                </div>
            </div>



        </div>



        <div class="row mt-4">
            <div class="col-12 col-lg-12">

                <h5 class="">Grow Tress - On the path to environment sustainbility</h5>
                <hr>
            </div>

            <p>
                @Model.Story.Description
                @Model.Story.Description
            </p>

            <p>
                We use these technologies for a number of purposes, such as:

                @Model.Story.Description
            </p>
            <p>
                @Model.Story.Description
            </p>






        </div>





    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script>
        // firefox, chrome
        //  document.body.scroll = "no"; // ie only
        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("demo");
            let captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</body>

