@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using CI_Platform.Entities.ViewModels
@using Microsoft.AspNetCore.Html
@model StoryModel


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <!-- Bootstrap CSS -->

    
</head>

<body>

    <div class="container">

        <!-- ..............card..................... -->
        <div class="card mb-3 p-0">
            <div class="row g-0">
                <div class="col-lg-6">
                    <!-- Container for the image gallery -->
                    <div class="container p-0 pb-5" style="width: 100%; height: 100%;">

                        @for (int i = 1; i <= Model.storiesMedium.Count; i++)
                        {
                            @if ((Model.storiesMedium[i - 1].Type) == "video")
                            {
                                <div class="mySlides">
                                   @*   <iframe width="560" height="315" src="@(Model.storiesMedium[i-1].Path)" title="YouTube video player" frameborder="0" ></iframe>*@
                                   <iframe style="width:100%; height: 100%;" src="@(Model.storiesMedium[i-1].Path)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                   
                                </div>
                            }
                            else
                            {
                                <div class="mySlides">

                                    <img src="~/img/@(Model.storiesMedium[i-1].Path)" style="max-width:100%; height: 100%;">
                                </div>
                            }
                        }


                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>

                        <div class="container-fluid row ps-4 g-2 ">
                            @for (int i = 1; i <= Model.storiesMedium.Count; i++)
                            {
                                @*<div class="col h-50">
                                    <div class="card">
                                    <img class="demo cursor"
                                    src="~/img/@(Model.storiesMedium[i-1].Path)"
                                    style="width:100%; " onclick="currentSlide(@i)" alt="The Woods">
                                    </div>
                                    </div>*@
                                <div class="col">
                                    <img class="demo cursor" src="~/img/@(Model.storiesMedium[i-1].Path)" style="width:100%" onclick="currentSlide(@i)">
                                </div>


                            }

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card-body">
                        <!-- <h3 class="card-title">CSR initiative stands for Coffee & Farmer Equity</h3>


                                           <p class="card-text mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                               eiusmod
                                               tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                           </p>
                        -->
                        <div class="row mt-3">
                            <div class="col-6">

                                <img src="~/img/@Model.Story.User.Avatar"
                                     style=" width: 100px;    height: 100px; border-radius: 50%;" alt="">

                                <br />

                                <span>@Model.Story.User.FirstName @Model.Story.User.LastName</span>
                            </div>

                            <div class="col-6 text-end">

                                <button type="button" class="btn btn-outline-secondary " style="  border-radius: 18px;">
                                    <i class="bi bi-eye"></i>
                                    @Model.Story.Views  Views


                                </button>
                            </div>
                        </div>

                        <br>
                        <p>
                            @Model.Story.User.WhyIVolunteer

                        </p>


                        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




                        <!-- Button trigger modal -->
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Recommand this Story to Co-workers</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <ul>
                                            @foreach (var item in Model.CoWorkers)
                                            {

                                                <li><input type="checkbox" value="@item.UserId" /> @item.FirstName @item.LastName </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="recommandStory(@Model.Story.StoryId)">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row">

                            <div class="col-12 col-md-6 col-sm-12 mt-2" id="recommand">
                                <button type="button" class="btn btn-outline-dark w-100 rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="bi bi-person-plus"></i>  Recommend to co-worker
                                </button>
                                @* <button type="button" class="btn btn-outline-dark w-100 rounded-pill" data-toggle="modal" data-target="#myModal" >
                                    <i class="bi bi-person-plus"></i> <span style="font-size: 0.8em;"> Recommend to co-worker</span>
                                    </button>*@
                                @*<ul class="dropdown-menu" onchange="recommandStory(@Model.Story.StoryId)">

                                    @foreach (var item in Model.CoWorkers)
                                    {

                                    <li><input type="checkbox" value="@item.UserId" /> @item.FirstName @item.LastName </li>
                                    }
                                    </ul>*@



                            </div>


                            <div class="col-12 col-md-6 col-sm-12 mt-2">
                                <a asp-controller="Platform" asp-action="Volunteering_Mission" asp-route-mid="@Model.Story.MissionId"> <button type="button" class="btn btn-outline-danger w-100  rounded-pill "> Open  Mission <i class="bi bi-arrow-right text-danger"></i> </button></a>
                            </div>
                        </div>
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
                    </div>
                </div>
            </div>
     </div>



        <div class="row mt-4">
            <div class="col-12 col-lg-12">

                <h5 class="">@Model.Story.Title</h5>
                <hr>
            </div>

              @{
                string? htmlString = @Model.Story.Description;
                HtmlString renderedHtml = new HtmlString(htmlString);
            }
            @renderedHtml


        </div>
  </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script>
        // firefox, chrome
        //  document.body.scroll = "no"; // ie only
        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("demo");
            let captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</body>

