@*@using Microsoft.AspNetCore.Http;*@
@*@using CI_Platform.Entities.ViewModels*@
@model CI_Platform.Entities.ViewModels.PlatformModel







@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="Filter">
 <div id="grid-view" class="grid" >
    <div class="container-fluid row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
         @foreach (var item in Model.Mission)
                {
               
        <div class="col">
            <div class="card " >
                <div class="wrapper">
                    <div class="content">
                <img src=~/img/@(item.MissionMedia.FirstOrDefault()?.MediaPath) class="card-img-top" alt="..." style="width: 100%;">
               
                <img src="~/img/add1.png" class="card-img-top bg-dark fa-download-1" alt="..." style="">
                        <img src="~/img/heart.png" class="card-img-top bg-dark fa-download-2 " alt="..." style="">
                        <!-- <i class="bi bi-suit-heart bg-dark fa-download-2 "></i> -->
                   <span class="border-dark rounded-pill label"> &nbsp; &nbsp; @item.Theme.Title  &nbsp; &nbsp;</span>
                    </div>
                </div>
                <div class="card-img-overlay h-25">
                    <p class="text-end">
                        <span class="border-dark rounded-pill text-white bg-dark ">&nbsp;<i class="bi bi-geo-alt fs-6">@item.City.Name &nbsp;</i></span>
                      
                    </p>
                </div>
                <div class="card-body mb-0">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.ShortDescription</p>
                    <div class="card-text  "><span>@item.OrganizationName</span>
                        <span class="me-0">
                        @for (int i = 1; i <= 3; i++)
                                {
                                    <i class="bi bi-star-fill" style="color: #F8D441;"></i>
                                }
                                @for (int i = 1; i <= 2; i++)
                                {
                                    <i class="bi bi-star" style="color: #F8D441;"></i>
                                }
                    </span>
                    </div>
                    <h6 class="sideline mt-4"><span class="textline" style="border :1px solid #757575;">From @item.StartDate.ToString() until @item.EndDate.ToString()</span></h6>
                    <div class="row">
                        <div class="col-6"><i class="bi bi-person-check-fill" style=""></i> 10<br>
                            <span class="small text-muted">&nbsp &nbsp Seats Left</span>
                        </div>
                        <div class="col-6 "><i class="bi bi-clock"></i> @item.EndDate.ToString()<br>
                            <span class="small text-muted">&nbsp &nbsp Deadline</span>
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-body  ms-md-auto me-md-auto mt-0">
                        <a asp-controller="Platform" asp-action="Volunteering_Mission" asp-route-mid="@item.MissionId"> <button type="button" class="btn btn-outline-danger w-100  rounded-pill "> Apply <i class="bi bi-arrow-right text-danger"></i> </button></a>
                    </div>
            </div>
        </div>
        }
        
        </div>
        </div>

















         <div id="list-view" >
               <div class="container-fluid ">
              @foreach (var item in Model.Mission)
                {
               
            <div class="card mb-3" style="max-width: 100%;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src=~/img/@(item.MissionMedia.FirstOrDefault()?.MediaPath) style="height:100% " class="card-img" alt="...">
                    
                  </div>
                  
                  <div class="col-md-8">
                    <div class="card-body">
                        <i class="bi bi-geo-alt">@item.City.Name &nbsp;</i>
                        <i class="bi bi-globe">@item.Theme.Title  &nbsp;</i>
                        <i class="bi bi-people">@item.OrganizationName</i>
                        <p class="text-end">
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-fill text-warning"></i>
                            <i class="bi bi-star-half text-warning"></i>
                            <i class="bi bi-star text-warning"></i>
                        </p>
                    
                      <h5 class="card-title">@item.Title</h5>
                      <p class="card-text">@item.ShortDescription</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        
                
                      <i class="bi bi-person-check-fill" style="">397  Seats left</i> &nbsp;
                      <i class="bi bi-clock">@item.EndDate.ToString().Substring(0,10) Registration Deadline</i> &nbsp;
                      <i class="bi bi-calendar3">@item.StartDate.ToString().Substring(0,10)  until @item.EndDate.ToString().Substring(0,10)</i> &nbsp;
                      <i class="bi bi-square">Skills @(item.MissionSkills.FirstOrDefault()?.Skill.SkillName)</i>
                      
                    <div class="card-body  text-end ">
                       <a asp-controller="Home" asp-action="Volunteering_Mission" asp-route-mid="@item.MissionId">  <button type="submit " class="btn btn-outline-danger   rounded-pill "> View Details <i class="bi bi-arrow-right text-danger"></i> </button> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            }
                   </div>
             </div>




             </div>